In [1]:
#Load Libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Load Data
df = pd.read_excel('./BlueJaysThreeMonthScores.xlsx', sheet_name='Sheet1')
df.head()

       Date Home or Away   Opponent  Blue Jays Score  Opponent Score Outcome
0  3/4/2017         Away  BALTIMORE              2.0             3.0    Lost
1  5/4/2017         Away  BALTIMORE              1.0             3.0    Lost
2  6/4/2017         Away  TAMPA BAY              5.0             2.0     Won
3  7/4/2017         Away  TAMPA BAY              8.0            10.0    Lost
4  8/4/2017         Away  TAMPA BAY              2.0             3.0    Lost

In [3]:
#Mean of Blue Jays Score
df['Blue Jays Score'].mean()

4.215189873417722

In [4]:
#Median of Blue Jays Score
df['Blue Jays Score'].median()

4.0

In [5]:
#Standard Deviation of Blue Jays Score
df['Blue Jays Score'].std()

2.7950087659875806

In [6]:
#Counts of Outcome
df['Outcome'].value_counts()

Lost         42
Won          37
Postponed     1
Name: Outcome, dtype: int64

In [7]:
#Key Statistics (Numerical Columns only)
df.describe()

       Blue Jays Score  Opponent Score
count        79.000000       79.000000
mean          4.215190        4.531646
std           2.795009        3.050159
min           0.000000        0.000000
25%           2.000000        2.000000
50%           4.000000        4.000000
75%           6.000000        6.500000
max          17.000000       12.000000

In [8]:
#Key Statistics - Transposed (Numerical Columns only)
df.describe().T

                 count      mean       std  min  25%  50%  75%   max
Blue Jays Score   79.0  4.215190  2.795009  0.0  2.0  4.0  6.0  17.0
Opponent Score    79.0  4.531646  3.050159  0.0  2.0  4.0  6.5  12.0